.wrapper {
	display: grid;
	grid-template-rows: 75px 60px 160px auto;
	height: 100vh;
	.pages-wrapper {
		margin-top: 10px;
		width: 100%;
		max-width: $base-width;
		padding: 0px 20px;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
		margin-bottom: 20px;
	}
}
