$base-width: 1300px;
$theme-font: Montserrat-Regular, sans-serif;
$font-lato: Lato-Regular, sans-serif;

//Colors
$blue: #00579b;
$themeColor-Light: #f3e2c7;
$red: #dc176c;
$pink: #f968a7;
$dark-blue: #1a3965;
$white: #ffffff;
$light-grey: #f8f9fa;
$light-green: #4fc79d;
$green-hover: #7fe2bf;
$brown: #6d6f79;
$green: #28a745;
$light-cyan: #d5f2ff;
$Dark-midnight-blue: #1a3965;
$davy-grey: #495057;
$grey: #ceced6;
$ghost-white: #f8f9fa;
// shadow
$base-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
